doctrine:
    dbal:
        driver: 'mysql'
        server_version: '5.7'

        charset: utf8mb4
        default_table_options:
            charset: utf8mb4
            collate: utf8mb4_unicode_ci

        url: '%env(resolve:DATABASE_URL)%'
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            user_domain:
                type: xml
                dir: "%kernel.project_dir%/src/User/Infrastructure/ORMIntegration/mapping"
                alias: User
                prefix: App\User\Domain
                is_bundle: false
